.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 10px 40px;
  z-index: 99;
  transition: 300ms ease-in-out;
  margin-top: 0;
  box-shadow: rgb(0 0 0 / 12%) 0 10px 60px;
  background-color: rgba(255,255,255,0.97);
}

.nav-bar a {
  text-decoration: none;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 45px;
}

.logo-inner {
  margin-left: 10px;
}

.logo .logo-inner p:first-child {
  font-family: Corbel;
  color: rgb(42, 13, 95);
  font-size: 1.1rem;
}

.logo .logo-inner p:last-child {
  font-family: Corbel;
  color: rgb(42, 13, 95);
  font-size: 1.3rem;
}

.logo .logo-inner p:last-child span {
  font-family: "Arial";
  color: rgb(42, 13, 95);
  font-size: 1.3rem;
}

.nav-items {
  display: flex;
  align-items: center;
  margin: auto;
}

.nav-items a {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  
}

.nav-items a span {
  height: 3px;
  position: absolute;
  background-color: #F64C72;
  bottom: -6px;
  transition: 500ms ease-in-out;
  width: 0;
}


.nav-items a:hover span {
  width: 120% !important;
}

.nav-item {
  font-size: 22px;
  font-family: MontserratLight;
  font-weight: 100;
  color: #242582 ;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

.nav-contact{
  display: flex;
}

.nav-contact img{
  width: 50px;
  margin-right: 5px;
}

.nav-contact-inner p:first-child{
  color: #242582;
  font-size: 1rem;
}

.nav-contact-inner a{
  text-decoration: none;
  color: #242582;
  font-size: 1.2rem;
  font-weight: 500;
}

.hamburger {
  position: absolute;
  right: 20px;
  display: none;
  background: transparent;
}

.hamburger label {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

.hamburger label span {
  background: black;
  border-radius: 10px;
  height: 2px;
  margin: 9px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger span:nth-of-type(1) {
  width: 50%;
}

.hamburger span:nth-of-type(2) {
  width: 100%;
}

.hamburger span:nth-of-type(3) {
  width: 75%;
}

.hamburger input[type="checkbox"] {
  display: none;
}

.span1 {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

.span2 {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.span3 {
  transform-origin: bottom;
  width: 50% !important;
  transform: translate(30px, -11px) rotatez(45deg);
}

.hamburger label {
  transform: scale(0.7);
}

.hamburger p:nth-child(2) {
  height: 2px;
}

.hamburger p:first-child,
.hamburger p:last-child {
  height: 2px;
}

.mobile-menu {
  position: fixed;
  z-index: 98;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #242582;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: all 200ms ease-in-out;
}

.mobile-menu a {
  text-decoration: none;
  margin-bottom: 20px;
  color: white;
  font-family: 'Saira',sans-serif;
  width: 80%;
}

.mobile-menu a .nav-item{
  color: white;
  width: 100%;
  text-align: left;
  font-size: 2.3rem;
}

.menu-active {
  transform: translateX(0);
  display: flex;
}

.span-active{
  width: 120% !important;
}

.logo img{
  width: 150px;
}